/.idea/
/Archipelago/
/bsnes-plus/
/DiztinGUIsh/
/export/
/sni-v0.0.99-windows-386/
/Patch.bp
/Patch.sfc
/Patch.srm
/Patch-usage.bin
/Test bsnes.bat
/Tetris Attack (USA) (En,Ja).dizraw
/Tetris Attack (USA) (En,Ja).sfc
/Tetris Attack (USA) (En,Ja)-usage.bin
/Tetris Attack bsnes.bat
